/* body{
background-color: white;} */
@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
html{
  scroll-behavior: smooth;
}
.home{
    padding-top:220px;
    text-align:center;
    color:white;
}
.home>.mouse{
    margin-top:130px
}
.services{
    color: #fff;
    text-align: center;
    padding-top: 100px;
}
.what{
    color: black;
    text-align: center;
    
}
.what p{
    display: none;
}
.design{
    justify-content: space-evenly;
    text-align: center;
}
.portfolio{
    text-align: center;
    ;
}
.portfo{
    text-align: center;
}
input[type="text"]{
    width: 48%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
input[type="email"]{
    width: 48%;
    background-color: transparent; 
    border-color: white;
}
.textarea{
    background-color: transparent;
    border-color: white;
}
input[type="submit"]{
    background-color: transparent;
    width: 100px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
}
#email::placeholder{
    color: white;
  }
  
#name::placeholder{
    color: white;
  }
  #message::placeholder{
    color: white;
  }

.form{
    display: flex;
    justify-content: space-between;
}
.contact{
    width: 80%;
}
footer{
    text-align: center;
}
footer img{
    margin: 10px;
}


.ova, .ova1, .ova2, .ova3, .ova4, .ova5, .ova6, .ova7{
    display: none;
    margin-top: -200px;
    background-color:black;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;
    margin-left: 30px;
}
h3{
    color:yellow;
    border: 3px solid white;
    width: 80%;
    height: 70%;
    background-color: none;
     
    
}
.div{
    /* display: none; */
    background-color: none;
    opacity: 0.8;
    width: 60px;
    border-color: white;
}



  

 












@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: aqua;
    }
    .home{
        padding-top: 60px;
    }
    .services{
        padding-top: 20px;
    }
    .work1, .work2, .work3, .work4, .work5, .work6, .work7, .work8{
        margin-top:20px;
        width: 200px;
        margin-left: 25px;
    }
}

