
.home{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(/images/backgrounds/h_img.jpg);
    background-size: cover;
    height:100vh;
    padding-top:240px;
}

